/* Style général */
body {
font-family: Arial, sans-serif;
background-color: #f9f9f9;
color: #333;
margin: 0;
padding: 0;
}
header {
background-color: #4CAF50;
color: white;
text-align: center;
padding: 15px 0;
}
header h1 {
margin: 0;
}
nav a {
color: white;
text-decoration: none;
margin: 0 10px;
}
nav a:hover {
text-decoration: underline;
}
/* Contenu principal */

main {
padding: 20px;
}
h2 {
color: #4CAF50;
margin-top: 20px;
}
p {
line-height: 1.6;
margin-bottom: 15px;
}
/* Images */
figure {
text-align: center;
margin: 20px 0;
}
figure img {
max-width: 100%;
height: auto;
border: 2px solid #ccc;
border-radius: 5px;
}
figcaption {
font-size: 0.9em;
color: #555;
margin-top: 5px;

}
/* Pied de page */
footer {
text-align: center;
background-color: #333;
color: white;
padding: 10px 0;
margin-top: 20px;
}