
body {background-color: gray;}
#Titre {position:absolute;
        bottom : 200px;
        left : 650px;
        font-size : 30px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: underline;}
#Titre2 {position:absolute;
         bottom : 150px;
        left : 850px;
        font-family: Arial, Helvetica, sans-serif;}
#Image{
    width: 460px;
    position:absolute;
    bottom :350px;
    left : 650px;
    border : 10px solid #CCC;
    box-shadow: 0px 0px 17px #BBB}  
#Titre3 {position:absolute;
         top:20px;
        left :500px;
        font-size:20px;
        font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: underline}
#Titre4 {position: absolute;
        top: 200px;
        left:   600px;
        font-size:18px;
        font-family:Arial, Helvetica, sans-serif}
#Titre6 {position:absolute;
    bottom:150px;
   right :750px}
#Titre7 {position:absolute;
    bottom:150px;
   left :600px}
#Image1 {width: 430px;
        position:absolute;
        top : 0px;
        right :  0px;
        border : 10px solid rgb(0, 0, 0);
        box-shadow: 0px 0px 17px rgb(0, 0, 0)}
.link {color : black}
#titre11 {position: absolute;
          left:650px;
          top:125px;
          text-decoration: underline;}
#titre12 {;position: absolute;
        top: 225px;
        left: 575px;
        font-size:18px;
        font-family:Arial, Helvetica, sans-serif}
#titre13{position: absolute;
        top: 265px;
        left: 775px;
        font-size:18px;
        font-family:Arial, Helvetica, sans-serif;
        text-decoration: underline}
#Phrase1 {position: absolute;
                bottom : 575px;
                left: 475px;
                font-size: 18px;
                 font-family:Arial, Helvetica, sans-serif}
#Phrase2 {position: absolute;
        bottom : 550px;
        left: 375px;
        font-size: 18px;
        font-family:Arial, Helvetica, sans-serif}
#Phrase3 {position: absolute;
          bottom : 525px;
         left: 375px;
        font-size: 18px;
         font-family:Arial, Helvetica, sans-serif}    
#Phrase4 {position: absolute;
                bottom : 500px;
                left: 500px;
                font-size: 18px;
                 font-family:Arial, Helvetica, sans-serif} 
#Phrase5 {position: absolute;
        bottom : 475px;
        left: 475px;
        font-size: 18px;
         font-family:Arial, Helvetica, sans-serif}  
#Phrase6 {position: absolute;
         bottom : 450px;
        left: 600px;
        font-size: 18px;
         font-family:Arial, Helvetica, sans-serif}
 #Phrase7 {position: absolute;
        bottom : 425px;
        left: 375px;
        font-size: 18px;
         font-family:Arial, Helvetica, sans-serif}
#Phrase8 {position: absolute;
        bottom : 400px;
        left: 500px;
        font-size: 18px;
        font-family:Arial, Helvetica, sans-serif}
#Phrase9 {position: absolute;
        bottom : 375px;
        left: 475px;
        font-size: 18px;
        font-family:Arial, Helvetica, sans-serif}
 #Phrase10 {position: absolute;
         bottom : 350px;
         left: 525px;
        font-size: 18px;
        font-family:Arial, Helvetica, sans-serif}
#Phrase11 {position: absolute;
        bottom : 325px;
        left: 450px;
        font-size: 18px;
        font-family:Arial, Helvetica, sans-serif}
#Image2 {width: 430px;
        position:absolute;
        top : 30px;
        left :  0px;}
#Titre14{width: 430px;
        position:absolute;
        top : -20px;
        left :  0px;
        text-decoration: underline;}
