body {background-color: gray;}

#texte {margin-top:50px;
		margin-left:28%;
margin-right:35%}
#Titre {font-size : 30px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: underline;}
#Image{
    width: auto;
    position:absolute;
    top :10px;
    right : 10px;
    border : 10px solid #CCC;
    box-shadow: 0px 0px 17px #BBB}  

#Image1 {width: auto;
        position:absolute;
        top : 10px;
        right :  10px;
        border : 10px solid rgb(0, 0, 0);
        box-shadow: 0px 0px 17px rgb(0, 0, 0)}
		
.link {color : black}
#Image2 {width: auto;
        position:absolute;
        top : 10px;
        left :  10px;}

