body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000 ; 
    color: #333; 
}


div {
    width: 90%;
    margin: 0 auto; 
    background-color: #66f5d9 ; 
    padding: 20px;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


h1, h2, h3 {
    color: #1300ff; 
    text-align: center; 
}


ul, ol {
    margin: 10px 0;
    padding-left: 20px;
}

li {
    margin: 5px 0;
}


a {
    text-decoration: none; 
    color: #0078D7; 
}

a:hover {
    text-decoration: underline; 
}


img {
    max-width: 100%; 
    height: auto; 
    display: block;
    margin: 10px auto; 
}


p {
    line-height: 1.6; 
    margin: 10px 0;
}