body {
        background-image: linear-gradient(to right, #808080, #FFFFFF);   background-size: cover; 
        padding: 20px;
        font-family: Arial, sans-serif;
		
      }

      .header {
        background-color: lightgrey;
        color: black;
        text-align: center;
        padding: 10px;
      }

      .content {
	    background-color: lightgrey;;
        padding: 10px;
        text-align: justify;
      }

      .img-container {
        text-align: center;
        margin: 20px 0;
      }

      .img {
        border-radius: 20%;
        width: "200px;
      }
	  
	  .img-rere           {
	    text-align: center;
        margin: 20px 0;
      }
	  
	  .content1 {
	    background-color: lightgrey;;
        padding: 10px;
        text-align: justify;
		
	
	
   
