	body{
	 background-color: #F4A460;
	

}
	.content2 {
	 text-align: center;
	 margin-top: 150px;
	   font-size: 20px;

 }
    .header {
        background-color: white;
        color: black;
        text-align: center;
        padding: 10px;
      }
	 .content3 {
	 text-align: center;
	 margin-top: 150px;
	   font-size: 20px;
	 }