/* Mise en place du fond noir et de l'écriture blanche */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Mise en forme du header */
header {
    background-color: #333;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    color: #ddd;
}

/* Mise en forme des sections */
section {
    padding: 20px;
    margin: 20px;
}

/* Liens */
a {
    color: #00bfff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    margin-top: 40px;
    font-size: 14px;
}
