body {
  padding-top: 10px;
}
/*[class*="col-"] {
  background-color: white;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}*/

img.img_entete {
	margin : 30px;
	border-style: solid;
    border-width : 2px;
	border-color : #6d4458;
	border-radius : 10px;
}

div.col-md-10 {
	color : white;
	margin-bottom : 30px;
	background-color: #2362a1;
	border-style: solid;
    border-width : 2px;
	border-color : #6d4458;
	border-radius : 10px;}
	
p.chapeau {
	text-align : justify;
}

div.col {
	position: relative;
	height : 200px;
	padding : 10px;
	border-style: solid;
    border-width : 2px;
	border-color : #2362a1;
}

img.img_grid {
max-width: 100%;
max-height: 100%;
height: auto;}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2362a1;
}

div.col:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

p {
text-align: left;
font-size : medium;
}

a {
text-decoration: none;
color : black;
text-decoration-color: black;
}