body {
  background-image: url("img/back.jpg");
}
* {font-family:Arial,Serif} 
h1 {color:red  ; font-size:x-large} 
h2 {color:#ff369e ; font-size:large} 
h3 {color:black ; font-size:large} 

h1, h2, h3{font-family:"Times New Roman","Georgia,Serif} 
p {margin:20px} 