body {
    background: rgba(255, 255, 255, 0.925);
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    margin: 20px;
    padding: 0;


}
.header {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
    background-color: #eca3d6;
    color: black;
}

h3 {
    padding: 2px;
    background-color: rgb(231, 195, 180);
    color: black;
    margin: 10px;
}







