body {
    background: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    margin: 20px;
    padding: 0;


}
h3 {
    font-family: 'Times New Roman', Times, serif,
    color: black;
    margin: 10px;
}

div {

    background-color:   #eca3d6;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}

section {
    font-family: 'Times New Roman', Times, serif;

}

