body {
  background-color: #d2b4de;
}
p.one {
  border-style: solid;
  border-color: blue;
}

h1 {
  color:#cd6155;
  border-style: solid;
  border-width: 5px;
  background-color: #fae5d3
}
h2 {
	border-style: solid;
  border-width: 5px;
  background-color: #fae5d3 ;
  color:#cd6155;
}
h3 {
	border-style: solid;
  border-width: 5px;
  background-color: #fae5d3 ;
  color:#cd6155;
}
