
/* body{ */
  /* background-image: url("LosPollosHermanos.png"); */
  /* background-size: 140%; */
  /* background-position: center; */
/* } */
body {
    color: rgb(0, 106, 19);
  }
h1 {
    color: rgb(200, 0, 0);
    font-weight : 800;
    text-decoration : underline;
  }
.transition {
    font-weight : 1000;
  }
