body { background: url(we_can_do_it.jpg) right top no-repeat;
	   background-color: bisque
}
h1 { color: green;
	 font-size: 400%;
	 margin: 50px;
	 font-family: futura;
}
h2 { font-size: 280%;
	 
}
p {color: fuchsia;
	font-family: Arial Black;
	font-size: 150%;
}
h3 { font-size: 225%;
}