    body.page-index{
      margin: 0;
      padding: 0;
      font-family: 'Arial', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;       
      background:  #708090 ;
      background-size: 300% 300%;
      color: white ;
      text-align: center;
     h2{color:Gray }
    }

    body.page-profil{ *
      margin: 0;
      padding: 0;
      font-family: 'Arial', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh; 
      background: linear-gradient(90deg, 
        #ff6f61,  /* Rouge Apple */
        #ffb142,  /* Orange */
        #f6d365,  /* Jaune */
        #78e08f,  /* Vert */
        #60a3bc,  /* Bleu */
        #9c88ff   /* Violet */
      );
      background-size: 300% 300%;
      animation: gradient 8s ease infinite; 
      color: white;
     h4{color: LightGray}
      text-align: center;
    }
    @keyframes gradient {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }
    .card {
      background: rgba(0, 0, 0, 0.6); 
      border-radius: 20px;
      padding: 20px 40px;
      max-width: 500px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    }
    body.page-profil2{
      margin: 0;
      padding: 0;
      font-family: 'Arial', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;       
      background:  #008000;
      background-size: 300% 300%;
      color: white ;
     h4{color: LightGray}
      text-align: center;
    }
    body.page-profil3{
      margin: 0;
      padding: 0;
      font-family: 'Arial', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;       
      background-image: 
 url("img/iconm.jpg");
      color: white ;
     h4{color: LightGray}
      text-align: center;
    }
h2,h3,h4 {front-family: Georgia,Serif}
        .card h1 {
      font-size: 2.5em;
      margin: 0 0 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    .card p {
      font-size: 1.2em;
      line-height: 1.6;
    }

