* {front-family:Arial,Serif}
h1 {color:#bf80ff; font-size:45px-large; text-align:center}
h2 {color:#b3b3ff; font-siz:35px-large; text-align:center}
h3 {color:#b3b3ff; font-siz:25px-large; text-align:center}
h1,h2,h3 {font-family:"Times New Roman",Georgia,Serif;}
p {margin: 25px; color:#e6e6e6}
ul {color:#e6e6e6}
ol {color:#9494b8}
body 
{background-image: url("img/noir.jpg");}
img src{align: center}