@font-face {
	font-family: "Fontaine";
	src: url(./police/Fontaine_Regular.otf);
}
	
body { 
       text-align: center;
       font-family: Verdana;
	   background: url(./img/background.jpeg) center/cover;
	   min-height: 100vh;
	   color: #ffffff
}

h1 {
	text-transform: capitalize;
	font-size: 2.5rem;
	text-shadow: 3px 2px 4px #0000003d;
	font-family: "Fontaine";
	color: #00d1f3;
	text-decoration: underline;
 	letter-spacing: 3px
	
}
h2 {
	color: #00d1f3;
    text-transform: capitalize;
	text-shadow: 3px 2px 4px #0000003d;
}
a {
	color: #ff0000;
}
h3 {
	color: #ffffff;
    text-transform: capitalize;
	text-shadow: 3px 2px 4px #0000003d;
	text-decoration: underline;
}
main{
	width: 90%;
	background:#ffffff21;
	margin: 0 auto;
	border: 2px solid #60493600;
	border-radius: 0 10px 10px 60px;
	box-shadow: 0px 0px 20px 6px #00d1f3c4;
	padding: 10px;
	visibility: visible
}	
div {
	width: 90%;
	background:#ffffff21;
	margin: 0 auto;
	border: 2px solid #16501600;
	border-radius: 0 10px 10px 60px;
	box-shadow: 5px 4px 5px 2px #2e542e;
	padding: 10px;
	visibility: visible
}
.grid-container{
	            display : grid;	
				grid-template-columns: 60% 40% 0%;
				box-shadow: 5px 4px 5px 2px #ffffff00;
		        background:#ffffff00;
		        border: 2px solid #ffffff00
}
.image{ 
        box-shadow: 5px 4px 5px 2px #ffffff00;
		background:#ffffff00;
		border: 2px solid #ffffff00;
}
.sous_partie{
	        box-shadow: 0px 0px 20px 6px #00d1f3c4;
			background:#ffffff21;
		    border: 2px solid #60493600;
			width: 75%;
}