<link rel="stylesheet" href="style.css" />


<body>
<h1>Cobol est un langage de programmation créé en 1959. Son nom est l’acronyme 
de Common Business Oriented Language qui révèle sa vocation originelle</h1>


<h2>En effet, il a pour but d'être un langage 
commun pour la programmation d'applications de gestion. 
Aujourd'hui, il est surtout utilisé dans les secteurs de la banque,
 des assurances, des grandes administrations.
<br><br><br>
<a href="GRACE%20HOPPER%20PROJET%20NSI.html">RETOUR ACCUEIL</a>
</body>
<br><br><br>
<li>Le Cobol a initialement été créé en 1959 </li>
<li>Le langage Cobol était de loin le langage 
le plus employé des années 1960 à 1980, et reste très utilisé dans de grandes entreprises,
notamment dans les institutions financières qui disposent
(et développent encore) de nombreux logiciels et applications en Cobol</li>
</h2>
<img src="IMG/COBOLL.jpg" title="COBOL" alt="COBOL">

<br>
