<link rel="stylesheet" href="style.css" />

<body>
<h1>A-0 System est le premier compilateur développé pour un ordinateur.
 Il a été écrit par Grace Hopper en 1951 et 1952 pour l'UNIVAC I.
</h1>
 
<h2>Quel rôle joue un compilateur ?
<li>Un compilateur est un sous-programme d’un langage de programmation.</li>
<li>Il a pour rôle de rechercher toutes les erreurs possibles
 dans un programme source, telles que des fautes d’orthographe,
 les variables, les types, etc.</li>
<img src="IMG/COMPILTEUR.jpg" title="1" alt="1">
<br>
Voici celui en question
</h2>

<h2>
<a href="GRACE%20HOPPER%20PROJET%20NSI.html">RETOUR ACCUEIL</a>
</body>
</h2>