h1 {background-color: DarkSlateBlue;
   text-align: center;
   font-family: Fantasy;}



li {font-family: Cursive;
	color: grey}

h2 {font-family: Cursive;
	color: grey}


body {background-image: url("IMG/AIGLEARRIERE.jpg");}




