*{
    margin: auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    transition: .5s;
}

/* Styles for defined commands such as div, section, body, head */

html{
    background-image: linear-gradient(rgba(255, 2, 50, .1), rgba(0, 12, 78, 0.7)), url(Images/Abstract_BG.png); /*Change image before handing the file over*/
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

h1{
    color : white;
    font-size: 40px;
}

h4{
    color: rgb(240, 240, 240);
    font-size: 14px;
}

section{
    max-width: 700px;
    min-width: 100px;
    background-color: rgb(15, 14, 19);
    box-shadow: 0px 0px 50px rgb(9, 0, 48);
}

div{
    max-width: 80%;
}


/* Styles for common classes accross diffrent pages */

.title_sub-title{
    text-align: center;
    align-items: center;
}

.title_sub-title h4{
    font-size: 30px;
    color: #ffffff;
}

.title_sub-title p{
    margin-top: 3px;
    font-size: 13px;
    color: #c6c6c6;
}

.title_sub-title hr{
    width: 80%;
}



.img_and_text{
    width: 500px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.img_and_text p{
    font-size: 15px;
    color: #fcfcfc;
    text-indent: 3em;
    text-align: justify;
}

.img_and_text img{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 350px;
    border-radius: 8px;
}


/* Styles for classes index.html */


.header{
    min-height: 200px;
    background-color: rgba(42, 42, 42, 0);
    height: 100vh;
    text-align: center;
    align-items: center;
    position: relative;
}

.text-box{
    width: 90%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    position: absolute;
}
.text-box h1{
    padding: 5px 10px 20px;
}

.text-box h1::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: -10px;
    transition: .5s;
}


.hero-bttn{
    text-align: center;
    padding: 10px 40px 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    border: 1px solid;
    transition: 1s;
}


.hero-bttn:hover{
    background-color: #7b43ff;
    border-color: #7b43ff;
}


.header p{
    padding: 0px 10px 25px;
    color: #dddddd;
    font-size: 12px;
}


/* styles for classes main.html */


.body_section{
    padding-top: 30px;
    padding-bottom: 10px;
    min-height: 500px;
}

.external-link-hr-decor{
    width: 100px;
    margin-bottom: 10vh;
    color: #7b43ff;
}

/* Size adjustment for small screen */


@media(max-width: 800px){

    section{
        width: 100%;
    }


    .header{
        width: 90%;
    }

    .header h1{
        font-size: 25px;
    }

    .hero-bttn{
        padding: 10px 20px 10px;
    }

    .img_and_text img{
        width: 100%;
    }

    .img_and_text p {
        text-indent: 0em;
    }

}